<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperplay.com/walls/full/9/d/b/124129.jpg);">
  <div class="container">
    <h1>Find and offer any Vehicle or Starship</h1>
    <p>Watto connects Star Wars characters through this Marketplace</p>
    <a class="button-light" href="/items/index">Look for an Item</a>
    <a class="button-light" href="/items/new">Offer an Item</a>
  </div>
</div>
