<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">
    <div class="row">
    <div class="col">
            <div class="card-large">
                <div class="image" style='background-image:url("https://images.unsplash.com/photo-1562647017-7d25504253a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")'>
                </div>
               <div class="content">
                <h2 class="item">item</h2>
                <h2 class="price">price</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto maiores quisquam qui! Dolorem tempore similique tenetur ratione asperiores tempora corrupti vero ut, molestias velit nulla, totam iste corporis excepturi?</p>
               
            </div>
        </div>
      <div class="col">
            <div class="card-large">
                <div class="image" style='background-image:url("https://images.unsplash.com/photo-1562647017-7d25504253a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")'>
                </div>
               <div class="content">
                <h2 class="item">item</h2>
                <h2 class="price">price</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto maiores quisquam qui! Dolorem tempore similique tenetur ratione asperiores tempora corrupti vero ut, molestias velit nulla, totam iste corporis excepturi?</p>
               
            </div>
        </div>
        <div class="col">
            <div class="card-large">
                <div class="image" style='background-image:url("https://images.unsplash.com/photo-1562647017-7d25504253a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")'>
                </div>
               <div class="content">
                <h2 class="item">item</h2>
                <h2 class="price">price</h2>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste iusto maiores quisquam qui! Dolorem tempore similique tenetur ratione asperiores tempora corrupti vero ut, molestias velit nulla, totam iste corporis excepturi?</p>
               
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card-small">
                 <div class="image" style='background-image:url("https://images.unsplash.com/photo-1562647017-7d25504253a7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80")'>
                </div>
                <div class="content">
                 <h2 class="item">item</h2>
                <span class="price">price</span>
                <p class="description">I am a description, but a short one</p>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>


</div>








