.alert {
  position: fixed;
  // bottom: 16px;
  // right: 16px;
  z-index: 1000;
}

// #notice {
//   position: fixed;
//   top: 0px;
//   // top: 100px;
//   // z-index: 1000;
// }

#showpage-alert {
  position:relative;
  justify-content: between;
  align-items: center;
}
