.button-dark {
background-color: $color-dark-grey;
color: $color-white;
position: relative;
width: 120px;
height: 40px;
padding: 10px 15px;
border-radius: 8px;
font-weight: bold;
font-family:'poppins-bold', sans-serif;
}

.button-dark:hover {
text-decoration: none;
color: $color-white;

}

.button-light {
background-color: $color-light-grey;
color: $color-black;
position: relative;
width: 120px;
height: 40px;
padding: 10px 15px;
border-radius: 8px;
font-weight: bold;
font-family:'poppins-bold', sans-serif;
}

.botton-light:hover {
text-decoration: none;
color: $color-yellow;
/*border: 1px solid $color-black;
*/
}
