.button-dark {
background-color: $gray;
color: $white;
position: relative;
padding: 5px 15px;
border-radius: 8px;
font-weight: bold;
font-family: $body-font;
}

.button-dark:hover {
text-decoration: none;
color: $yellow;
}
button:focus {
  outline:0;
}

.button-light {
background-color: $light-gray;
color: $black;
position: relative;
padding: 8px 15px;
border-radius: 4px;
font-weight: bold;
font-family: $body-font;
transition: 0.4s;
opacity: 0.7;
}

.button-light:hover {
text-decoration: none;
color: $yellow;
background-color: $dark;
opacity: 0.9;
}
