.button-dark {
background-color: $color-dark-grey;
color: $color-white;
position: relative;
width: 120px;
height: 40px;
padding: 10px 15px;
border-radius: 8px;
font-weight: bold;
font-family:'poppins-bold', sans-serif;
}

.botton-dark:hover {
text-decoration: none;
color: $color-white;

}
