/*This is the section for the large cards*/
/* card-large is the whole card, thus the container for the card*/ 
.card-large {
    width: 320px;
    height: 540px;
    border-radius: 4px;
    box-shadow: 0 0 0 0.7px $darkest;
    text-align: center;
    justify-content: center;     
    margin-top: 40px;
    margin-bottom: 10px;
    transition:0.3s;
    text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #ece9e6, #ffffff);
}


.card-large .fas {
    color: $yellow;
    font-size: 30px;
    margin-top: 5px;
    text-shadow: 2px 1px 3px black !important;
}


.card-large h3 {
    color: $darkest;
}

.card-large a {
    text-decoration: none;
}


.card-large p {
    color: $darkest;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.card-large .price {
    position: absolute;
    bottom: 5px;
}

/* .card-large .image is the image at the top of the card, we implement the image root in the html */
.card-large .image {
height:300px;
overflow:hidden;
background-size:cover;
background-repeat: no-repeat;
margin: 0px;
object-fit: cover;
padding: 1px;
}

/* .card-large .content is the content of the card, the container for the texts at the bottom*/

/* content placement*/

.card-large .content {
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3px;
    margin: 3px;
}

.content .item{
    position:relative;
    left: 1px;
    top:1px;
}


/* thinking about to also implement responsiveness of cards, for example on hovering*/

/* This is the section for small cards */
/* .card-small this is the container for small cards*/
.card-small {
    width: 320px;
    height: 140px;
    background-color: $dark;
    border-radius: 4px;
    margin-top: 10px;
}

/* .card-small .image this is the container for the image in the small card */
.card-small .image {
   height: 140px;
   width: 140px; 
}
/*.card-small .content this is where the content of small cards belong */
.card-small .content {
    height: 140px;
    width: 180px;
    position: absolute;
    left: 43.75%;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: space-between;
    color: $light-gray;
}

.card-small .price {
    position:absolute;
    bottom: 15px;
    right: 15px;
}

.card-small .description {
    position: absolute;
    bottom: 15px; 
    width: 130px;
    overflow:auto;
}



/*Have not done the positioning for text fields yet*/


.col:hover > *,
.col:focus-within > * {
opacity: 1;
}

.col:hover > :hover,
.col:focus-within > :focus {
    transform: scale(1.05);
    opacity: 1;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;  
    }
}