.item-container {
  margin-top:10px;
  border: 3px solid black;
  border-radius: 5px;
  height: 80vh;
  overflow: auto;
}

.bookings-container {
  margin-top:10px;
  border: 3px solid black;
  border-radius: 5px;
  height: 80vh;
}

.my-offers {
  background-color: white;
  height: 70vh;
}
.my-rents {
  background-color: white;
  height: 70vh;
}
