.form-booking {
  padding:15px;
  width: 350px;
  height: 240px;
  border-radius: 5px;
  display: box;
  box-shadow: 0 0 0 1px;
  text-align: center;
  background-color: $white;
  overflow: auto;
  border: 2px strong $darkest;
}
